body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.side {
  float: left;
  padding-left: 10px;
}

.instructions {
  color: #555;
  line-height: 30px;
  clear: both;
}
/* shamelessly stolen from: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values */
kbd {
  background-color: #eee;
  color: #222;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 0 0 rgba(255,255,255,.7) inset;
  display: inline-block;
  font-family: consolas,"Liberation Mono",courier,monospace;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
